html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.otherBGColor {
  background-color: rgb(238, 236, 236);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border-radius: 10px;
}
.nav {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  padding: 0.5rem;
  justify-content: space-evenly;
  border-bottom-width: 1px;
  background-color: #ffffff;
}
.img {
  padding: 1.25rem;
  width: 10rem;
  height: 5rem;
  cursor: pointer;
}
.carousel {
  width: 100%;
  height: 100%;
}

.wholeCarousel {
  position: relative;
  display: inline-block;
}

.carouselContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.carouselButton:first-child {
  left: 10px;
}

.carouselButton:last-child {
  right: 10px;
}
.outerAlign {
  display: flex;
  justify-content: center;
}
.outerAlignFooter {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footerMainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.searchInput {
  padding-left: 2.5rem;
  border-width: 1px;
  width: 100%;
  height: 4rem;
  color: #000000;
}
.ulDiv {
  margin-top: 1rem /* 16px */;
}
.ulInputSearch {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}
.liSearch {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.25rem;
  border-width: 1px;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-duration: 300ms;
  cursor: pointer;
}

.liSearch :hover {
  background-color: #f3f4f6;
}
.searchImg {
  margin-bottom: 0.5rem;
  width: 4rem;
  height: 4rem;
}
.contentDiv {
  text-align: center;
}

.contentName {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.contentDes {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
}
.browseUL {
  display: flex;
}
.browseLI {
  position: relative;
  padding: 1.25rem;
  cursor: pointer;
}
.hoverBrowse {
  position: absolute;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #000000;
  color: #000000;
  background-color: white;
}
.liHover {
  cursor: pointer;
}
.liHover:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(163 163 163 / var(--tw-bg-opacity));
}
.loginLIDetails {
  padding: 1.25rem;
  cursor: pointer;
}
.loginLIContent {
  position: relative;
  padding: 1.25rem;
  cursor: pointer;
}
.contentDiv {
  display: flex;
  padding: 1.25rem;
  padding-top: 6rem;
  justify-content: space-evenly;
}
.mainContentDiv {
  display: flex;
  padding: 1.25rem;
  margin-top: 6rem;
  justify-content: space-evenly;
}
.mainContent {
  font-weight: 700;
  cursor: pointer;
}
.hideLogo {
  display: none;
}

.img.active {
  display: none;
}

.img {
  padding: 1.25rem;
  width: 10rem;
  height: 5rem;
  cursor: pointer;
}

.img.active,
.inputDiv {
  padding-left: 0.5rem;
}

.inputDiv.active {
  width: 70%;
}
.footerHeader {
  padding-top: 2.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #ffffff;
}
.navli {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #ffffff;
}
.footerDisclaimer {
  margin-top: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}
.languagefooter {
  padding: 0.5rem;
  padding-left: 1.25rem;
  margin-top: 2.5rem;
  border-width: 2px;
  border-color: #ffffff;
  width: 24rem;
  color: #ffffff;
}
.aboveText {
  margin-top: 1.25rem;
  border-width: 1px;
}
.mainFooterText {
  padding: 2.5rem;
  margin-top: 2rem;
  color: #ffffff;
}
.aroundPages {
  display: flex;
  flex-direction: row;
}

.outerDiv {
  display: flex;
  flex-direction: column;
}
.outerDescBox {
  display: flex;
  justify-content: center;
}
.mainBox {
  padding: 4rem;
  margin-top: 10rem;
  width: 66.666667%;
}
.Heading {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.pText {
  color: #064e3b;
}
.imgGrid {
  display: flex;
  margin-top: 5rem;
  flex-direction: row;
  justify-content: center;
}
.imgDiv {
  margin: 2.5rem;
  border-width: 1px;
  cursor: pointer;
}
.mainImg {
  border-width: 1px;
  border-color: #b91c1c;
  height: 12rem;
}
.imgName {
  font-weight: bold;
}
.imgLowPrice {
  font-size: 0.75rem;
  line-height: 1rem;
}
.imgPrice {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}
@media (min-width: 640px) {
  .ulInputSearch {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .ulInputSearch {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .ulInputSearch {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media screen and (min-width: 601px) {
  .searchIcon {
    display: none;
  }
  .searchIcon.active {
    display: block;
  }

  .inputDiv.active {
    display: flex;
    flex-direction: column;
  }
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  .browseLI,
  .loginLIDetails,
  .loginLIContent {
    display: none;
  }
  .hoverBrowse {
    border: 1px solid red;
  }
  .searchIcon,
  .closeSearchButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputDiv {
    display: none;
  }

  .searchIcon.active {
    display: none;
  }

  .inputDiv.active {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 390px) {
  .languagefooter {
    /* border: 1px solid green; */
    width: 200px;
  }
}
@media screen and (max-width: 325px) {
  .aroundPages {
    display: flex;
    flex-direction: column;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
